{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Panel principal{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'menu/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<div class='dashboard'>
    <div class="dashboard-nav">
        <header>
            <a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>

            <a href="#" class="brand-logo">
                <i class="fas fa-anchor"></i>
                <span>NOVA</span>
            </a>
        </header>

        <nav class="dashboard-nav-list">
            <a href="#" class="dashboard-nav-item"><i class="fas fa-home"></i> Inicio</a>

            <a href="{% url 'lista_clientes' %}" class="dashboard-nav-item">
                <i class="fas fa-users"></i> Clientes
            </a>
            
            <a href="#" class="dashboard-nav-item"><i class="fas fa-shopping-cart"></i> Productos</a>
            <a href="#" class="dashboard-nav-item"><i class="fas fa-cogs"></i> Configuracion</a>
            <a href="#" class="dashboard-nav-item"><i class="fas fa-file-upload"></i> Informe Mensual</a>
            <a href="#" class="dashboard-nav-item"><i class="fas fa-user"></i> Perfil</a>

            <div class="nav-item-divider"></div>

            <a href="#" class="dashboard-nav-item">
                <i class="fas fa-sign-out-alt"></i> Cerrar Sesion
            </a>
        </nav>
    </div>

    <div class='dashboard-app'>
        <header class='dashboard-toolbar'>
            <a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>
        </header>

        <div class='dashboard-content'>
            <div class='container'>

                {% block content %}
                <!-- CONTENIDO POR DEFECTO DEL MENU -->
                <div class='card'>
                    <div class='card-header'>
                        <h1>Clientes Activos</h1>
                    </div>

                    <div class='card-body'>
                        <p>Ningun cliente tiene cuentas activa</p>
                    </div>
                </div>
                {% endblock %}

            </div>
        </div>
    </div>
</div>

<script src="{% static 'menu/js/menu.js' %}"></script>
</body>
</html>
