.acciones-pedido{
margin-bottom:15px;
}

.btn-agregar{
background:#2ecc71;
color:white;
border:none;
padding:10px 15px;
border-radius:6px;
cursor:pointer;
font-weight:bold;
}

.btn-eliminar{
background:#e74c3c;
color:white;
border:none;
padding:6px 10px;
border-radius:6px;
cursor:pointer;
}

.btn-guardar-pedido{
background:#27ae60;
color:white;
border:none;
padding:12px 18px;
border-radius:6px;
font-weight:bold;
cursor:pointer;
margin-top:10px;
}

input{
padding:6px;
border:1px solid #ccc;
border-radius:5px;
width:90%;
}
.btn-cancelar{
background:#e74c3c;
color:white;
border:none;
padding:10px 15px;
border-radius:6px;
cursor:pointer;
font-weight:bold;
margin-left:10px;
}