{% extends 'menu/menu.html' %}
{% load static %}
{% block content %}

<div class="detalle-pedido">

    <h1 class="titulo-detalle">Pedido de {{ pedido.cliente.nombre }}</h1>

    <table class="tabla-pedido">

        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Valor Unitario</th>
                <th>Total</th>
            </tr>
        </thead>

        <tbody>
            {% for d in detalles %}
            <tr>
                <td>{{ d.nombre_producto }}</td>
                <td>{{ d.cantidad }}</td>
                <td>${{ d.precio }}</td>
                <td>${{ d.subtotal }}</td>
            </tr>
            {% endfor %}
        </tbody>

        <tfoot>
            <tr class="total-row">
                <td colspan="3">Total Pedido</td>
                <td>${{ total }}</td>
            </tr>
        </tfoot>

    </table>

</div>

{% endblock %}