{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Nova</title>
	<link rel="stylesheet" type="text/css" href="{%static 'usuarios/CSS/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form autocomplete="off" method="POST" action="">
					{% csrf_token %}
					<label for="chk" aria-hidden="true">Registro</label>
					<input type="text" name="usuario" placeholder="User name" required="">
					<input type="email" name="email" placeholder="Email" required="">
          			<input type="number" name="Telefono" placeholder="Telefono" required="">
					<input type="password" name="contraseña" placeholder="Contraseña" required="">
					<button name="btn_registro">Registrate</button>

				</form>
			</div>

			<div class="login">
				<form autocomplete="off" method="POST" action="">
					{% csrf_token %}
					<label for="chk" aria-hidden="true">Login</label>
					<input type="texto" name="usuario" placeholder="Username" class="login__input" required="">
					<input type="password" name="contraseña" placeholder="Contraseña" class="login__input" required="">
					<button name="btn_login">Accede</button>
				</form>
			</div>
	</div>
</body>
</html>